:root {
  --color-principal: #ed6436;
  --color-fuente: #181818;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-fuente);
}
li,
ul {
  text-decoration: none;
}
a {
  color: var(--color-fuente);
}
.item-lista {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.item-lista a {
  padding-top: 0;
  padding-bottom: 0;
}
.menu-desplegable {
  border: none;
  top: 45px;
  left: -26px;
}
.items-dropdown {
  border-bottom: 1px solid #e1e1e1;
  font-weight: bold;
}
.titulo {
  font-size: 18px;
  color: var(--color-principal);
  font-weight: 700;
  margin-top: 30px;
}
.subtitulo {
  font-size: 40px;
  font-weight: 800;
}
/* =================== BOTONES =================== */
.boton {
  border: 2px solid var(--color-principal);
  font-weight: bold;
  border-radius: 0px;
  font-size: 20px;
  height: 54px;
  width: 150px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
}

.boton-principal {
  color: white;
  background-color: var(--color-principal);
  height: 47px;
  width: 126px;
  font-size: 15px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
}

.images {
  border-radius: 25px;
}

.animal:hover .actividad {
  display: block;
}

@media (min-width: 770px) {
  .item-lista a {
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.2s ease;
  }
  .item-lista > a:hover {
    text-decoration: none;
    color: var(--color-principal);
    border-bottom: 3px solid var(--color-principal);
  }
  .boton {
    transition: all 0.2s ease;
  }
  .boton:hover {
    background-color: var(--color-principal);
    color: #fff;
  }

  .items-dropdown:hover {
    color: var(--color-principal);
    background-color: transparent;
  }
}
