:root {
  --color-principal: #ed6436;
  --color-fuente: #181818;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-fuente);
}
li,
ul {
  text-decoration: none;
}
a {
  color: var(--color-fuente);
}
/* =================== NAVBAR =================== */
.navbar {
  padding-left: 30px;
  padding-right: 30px;
}
.item-lista {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.item-lista a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-desplegable {
  border: none;
  top: 45px;
  left: -26px;
}
.items-dropdown {
  border-bottom: 1px solid #e1e1e1;
  font-weight: bold;
  padding: 0;
}
/* =================== BARRA INFORMATIVA=================== */
.titulo {
  font-size: 18px;
  color: var(--color-principal);
  font-weight: 700;
  margin-top: 30px;
}
.subtitulo {
  font-size: 34px;
  font-weight: 900;
}
.actividad {
  color: white;
  font-weight: 600;
  width: 100%;
  bottom: 5px;
}
.actividad span {
  font-size: 13px;
}
.actividad h2 {
  font-size: 25px;
}
/* =================== BOTONES =================== */
.boton {
  border: 2px solid var(--color-principal);
  font-weight: bold;
  border-radius: 0px;
  font-size: 20px;
  height: 54px;
  width: 150px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
  transition: all 0.2s ease;
}

.boton-principal {
  color: white;
  background-color: var(--color-principal);
  height: 61px;
  width: 170px;
  font-size: 20px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
  transition: all 0.2s ease;
}

.images {
  border-radius: 25px;
}

.animal {
  padding-bottom: 40px;
}

.animal:hover .actividad {
  display: block;
}

.shade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

@media (min-width: 430px) {
  .subtitulo {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .item-lista {
    margin-left: 35px;
  }
  .item-lista a {
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.2s ease;
  }
  .item-lista > a:hover {
    text-decoration: none;
    color: var(--color-principal);
    border-bottom: 3px solid var(--color-principal);
  }
  .navegacion-link {
    display: inline;
  }
  .boton:hover {
    background-color: var(--color-principal);
    color: #fff;
  }
  .boton-principal:hover {
    color: var(--color-principal);
    background-color: #fff;
  }

  .items-dropdown:hover {
    color: var(--color-principal);
    background-color: transparent;
  }
  .titulo {
    margin-top: 100px;
  }
}

@media (min-width: 960px) {
  .titulo {
    font-size: 25px;
  }
  .subtitulo {
    font-size: 66px;
  }
  .actividad {
    display: none;
  }
  .shade {
    background-color: transparent;
  }
  .caja {
    margin-right: 25px;
    margin-left: 25px;
  }
  .contenido-imagen img {
    width: 318px;
    height: 365px;
    object-fit: cover;
    object-position: 46% 50%;
  }
}
