:root {
  --color-principal: #ED6436;
  --color-fuente: #181818;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--color-fuente);
}

a {
  color: var(--color-fuente);
}

.menu-burger {
  font-size: 30px;
}

.item-lista {
  font-size: 18px;
  font-weight: bold;
}

.titulo {
  font-size: 25px;
  color: var(--color-principal);
  font-weight: 900;
  margin-top: 100px;
}

.subtitulo {
  font-size: 66px;
  font-weight: 800;
}

/* =================== BOTONES =================== */

.boton {
  border: 2px solid var(--color-principal);
  font-weight: bold;
  border-radius: 0px;
}

.boton-nav {
  font-size: 20px;
  height: 54px;
  width: 150px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
}

.boton-principal {
  color: white;
  background-color: var(--color-principal);
  height: 61px;
  width: 170px;
  font-size: 20px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
}

.images
{
   border-radius: 25px;
}

.animal :hover .actividad {
  display: block;
}
